.swipeItem {
    position: relative;
    overflow: hidden;
    height: 56px;
}

.swipeItem-content {
    position: absolute;
    width: 100%;

}

.swipeList {
    list-style-type: none;
}

.swipeList-addButton {
    font-size: 30px;
    text-align: center;
    background-color: white;
    border: none;
    outline: 1px solid black;
}